* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #0b2239;
    color: white;
    padding: 20px 40px;
    border-bottom-left-radius: 35.6px;
    border-bottom-right-radius: 35.6px;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 10;
}

header nav {
    flex-grow: 1; 
    display: flex;
    justify-content: center; 
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 64px;
}

header nav a {
    font-size: 32px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

button.login, button.logout {
    font-size: 32px;
    font-weight: bold;
    border: none;
    background-color: #0b2239;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

button.login .vector-icon {
    width: 32px;
    height: 32px;
}

button.logout .vector-icon {
    display: none;
}